<style>
    .nav-style {
        margin-top: 20%;
        background-color: darkslategray;
    }

    .nav-label {
        text-align: center;
    }
</style>
<nav class="navbar navbar-bottom nav-style" role="navigation">
    <div class="container">
        <h1 class="nav-label">by Joe Muto</h1>
    </div>
</nav>